.stow-local-ignore
tmux/.config/tmux/plugins
scripts/log.out
scripts/log.err
nitrogen/.config/nitrogen/nitrogen.cfg
nvim/.config/nvim/lazy-lock.json
qtile/.config/qtile/__pycache__
*.pyc
nitrogen/.config/nitrogen/bg-saved.cfg
vifm/.config/vifm/vifminfo.json
vifm/.config/vifm/vifminfo.json*
btop/.config/btop/btop.conf
